*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

p{
    line-height: 1.8em;
}

.main-header{
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.logo img{
    vertical-align: middle;
    padding: 0 1.5rem;
}

.main-nav ul li{
    list-style-type: none;
    display: inline;
    margin: 0 1.5rem;
    vertical-align: middle;
}

.main-nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.main-nav ul li:nth-child(3){
    padding-right: 650px;
}

.btn{
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    vertical-align: middle;
}

.start > .btn{
margin-left: 1.5rem;
}

.main-section{
    background-color: rgba(180,208,231,255);
    width: 100%;
    height: 800px;
}

.container{
    width: 85%;
    margin: 0 auto;
    padding: 100px;
}

.title{
    width: 100%;
    padding-bottom: 80px;
    font-size: 3.3em;
    font-weight: bold;
}

.img-element-jumbo{
    width: calc(64% - 50px);
    height: 200px;
    background-color: brown;
}

.img-element-jumbo > img{
    width: 100%;
}

.text-element-jumbo{
    width: 35%;
    height: 200px;
    background-color: pink;
    padding-right: 50px;
}

.container-small{
    width: 85%;
    max-width: 1180px;
    min-width: 650px;
    margin: 200px auto;
    background-color: blueviolet;
}

.card{
    width: calc((100% / 3) - 40px);
    height: 800px;
    margin: 20px 20px;
    background-color: chartreuse;
}

.section-title{
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    padding-left: 20px;
}

.img-element img{
    width: 100%;
    padding-right: 4em;
}

.img-element{
    width: 60%;
}

.text-element{
    width: 40%;
    padding-top: 3em;
}

.text-title{
    font-size: 1.7em;
    padding-bottom: 1em;
}

.text-element > p{
    padding-bottom: 1.5em;
}

.info-box{
    background-color: coral;
    width: calc((100% / 3) - 40px);
    height: 400px;
    margin: 50px 20px;
}

#max-width-card{
    width: calc(100% - 40px);
    height: 300px;
}

#services{
    height: 100%; 
}

#bg-color-white{
    background-color: white;
    color: black;
    border: 1px solid black;
}