*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

footer{
    background-color: black;
}

p{
    line-height: 1.8em;
}

hr{
    width: 80px;
    margin-top: 40px;
    margin-bottom: 70px;
}

.main-header{
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.logo img{
    vertical-align: middle;
    padding: 0 1.5rem;
}

.main-nav ul li{
    list-style-type: none;
    display: inline;
    margin: 0 1.5rem;
    vertical-align: middle;
    padding: 30px 0;
}

.main-nav ul li:hover{
    background-color: rgb(219, 219, 219);
    border-bottom: 4px solid black;
}

.main-nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.main-nav ul li:nth-child(3){
    margin-right: 650px;
}

.btn{
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    vertical-align: middle;
}

.btn:hover{
    filter: grayscale(50%);
}

.btn:active{
    background-color: blue;
}

.start > .btn{
margin-left: 1.5rem;
}

.main-section{
    width: 100%;
    height: 820px;
    background-color: rgba(180,208,231,255);
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 100px;
}

.title{
    width: 100%;
    padding-bottom: 80px;
    font-size: 3.3em;
    font-weight: bold;
}

.img-element-jumbo{
    width: calc(64% - 50px);
    height: 200px;
}

.img-element-jumbo > img{
    width: 100%;
}

.text-element-jumbo{
    width: 35%;
    height: 200px;
    padding-right: 50px;
}

.text-element-jumbo > p{
    padding: 20px 0;
}

.text-element-jumbo > span{
    padding-left: 10px;
    font-size: 2em;
}

.container-small{
    width: 85%;
    max-width: 1180px;
    min-width: 650px;
    margin: 150px auto;
    height: 100%;
}

.card{
    width: calc((100% / 3) - 40px);
    height: 1100px;
    margin: 20px 20px;
    border: 1px solid grey;
}

.card-header{
    width: 100%;
    height: 45px;
    border-bottom: 1px solid grey;
    line-height: 60px;
    text-align: center;
}

.card-header > p{
    font-size: 20px;
    padding: 5px;
}

.card-content{
    padding: 2em;
    position: relative;
}

.card-content p{
    padding-bottom: 20px;
}

.freetest-btn{
    padding-top: 2em;
}

.freetest-btn > a{
    padding: 7px 50px;
}

.card-content span{
    font-weight: 800;
}

.card-content > a{
    color: #0061ff;
}

.or{
    display: inline-block;
    border-bottom: 1px solid grey;
    padding: 35px 0;
}

.checklist{
    padding-top: 40px;
}

.checklist ul{
    list-style: none;
}

.checklist ul li{
    padding-left: 0.5em;
    padding-top: 1em;
}

.title-box{
    padding-left: 20px;
}

.title-box form{
    font-size: 1.2em;
}

.text-box{
    width: 70%;
}

.btn-box{
    width: 30%;
    padding-top: 40px;
}

.btn-box > a, .btn-box-second > a{
    padding: 7px 50px;
}

.section-title{
    width: 100%;
    font-size: 1.8em;
    font-weight: 800;
    padding-bottom: 30px;
}

.img-element img{
    width: 100%;
    padding-right: 4em;
    padding-left: 1em;
}

.img-element{
    width: 60%;
}

.text-element{
    width: 40%;
    padding-top: 3em;
}

.text-title{
    font-size: 1.7em;
    padding-bottom: 1em;
    font-weight: 800;
}

.text-element > p{
    padding-bottom: 1.5em;
}

.info-box{
    width: calc((100% / 3) - 40px);
    height: 600px;
    margin: 50px 20px;
}

.info-box-image > img{
    width: 100%;
    object-fit: contain;
}

.floating-boxes{
    width: 100%;
}

.float-side{
    width: 30%;
    height: 559px;
    min-height: 559;
    min-width: 30%;
}

.floating-image{ 
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.floating-image img{
    display: block;
    width: 70%;
    margin: 0 auto;
    filter: invert(100%)
}

.box{
    width: calc(100% / 2);
    height: 50%;
    position: relative;
}

.float-middle{
    width: 40%;
    min-width: 30%;
    height: 559px;
    min-height: 559;
    background-color: #f5f5f5;
}

.float-middle >div{
    position: relative;
    left: 60px;
    top: 60px;
}

.float-middle > div > img{
    width: 30%;
}

.red-bg{
    background-color: #ff1c1c;
}

.btn-box-second{
    width: 40%;
    padding-top: 80px;
}

.text-box-second{
    width: 60%;
    padding-left: 340px;
}

.section-title > p{
    padding-top: 40px;
    border-bottom: lightgrey 1px solid;
}

.faq{
    padding: 30px 0;
    position: relative;
}

.faq-hover{
    border-bottom: lightgray 1px solid;
}

.faq-text{
    display: none;
}

.faq-text > p{
    padding: 1.2em;
}

.faq-hover:hover .faq-text {
    display: block;
}

.faq > h4{
    font-weight: 900;
}

.faq > div{
    position: absolute;
    right: 25px;
    bottom: 25px;
    font-size: 1.5em;
}

.footer-col{
    width: calc(100% / 5 );
    color: white;
}

.footer-col h5{
    font-size: 1.5em;
    padding-left: 8px;
    padding-bottom: 15px;
}

.footer-col nav ul li {
    list-style-type: none;
    font-size: 1.2em;
    padding: 8px;
}

.footer-col nav ul li a{
    color:white;
    text-decoration: none;
}

.footer-col nav ul li a:hover{
    color: grey;
}

#footer-bottom{
    padding-top: 100px;
    padding-left: 10px;
}

.language p{
    border-top: 1px white solid;
    padding-top: 50px;
}

#max-width-card{
    width: calc(100% - 40px);
    height: 250px;
}

#services{
    height: 100%; 
}

#btn-bg-color-white{
    background-color: white;
    color: black;
    border: 1px solid black;
}

#btn-bg-color-white:hover{
    background-color: rgb(196, 196, 196);
}

#btn-bg-color-white:active{
    background-color: rgb(126, 126, 126);
}

#shifted-text{
    padding-left: 230px;
}

#subription-condition{
    color: grey;
    padding-bottom: 55px;
}

#text-enterprise{
    font-size: 0.9em;
    padding-top: 30px;
}

#underline-text{
    text-decoration: underline;
}

#link-clienti{
    padding-left: 20px;
    color: #0061ff;
    font-weight: 700;
}

#designit{
    background-color: #a2d39b;
    border: 10px solid #d0e9cd;
}

#asu{
    background-color: #61082b;
}

#uni-florida{
    background-color: #0093ce;
}

#lonely-planet{
    background-color: #0d2481;
}

#clear-channel{
    background-color: #ffd830;
}

#writer{
    padding-top: 40px;
    font-weight: 700;
}

#text-darkred{
    color: #6a1d3f;
    padding-top: 60px;
}

#text-white{
    color: lightgrey;
}